test {
position: fixed;
width: 280px;
min-width: 70px;
height: 100%;
left: 0;
top: 0;
z-index: 200;
background-color: #fff;
padding: 32px 16px;
box-sizing: border-box;
transition: transform 0.3s ease-out;
/* transform: ${props => (props.open ? 'translateX(0)' : 'translateX(-100vh)')}; */
}
/* &.Open {
  transform: translateX(0);
}

&.Close {
  transform: translateX(-100vh);
} */

@media (min-width: 500px) {
  display: none;
}
