.vscode
ignore
node_modules
src
test
.editorconfig
.env
.eslintrc.js
.gitignore
.nycrc
# .travis.yml
# .vscodeignore
package-lock.json
!package.json
tsconfig.json
!CHANGELOG.md
!LICENSE.md
!README.md
todo.txt

**/tags # vim
