@very-light-gray:   #d4d4d4;
@light-gray:        #808080;
@gray:              @light-gray;
@dark-gray:         #282c34;
@very-dark-gray:    #1e1e1e;

@light-red:     #d16969;
@dark-red:      #f44747;
@orange:        #ce9178;
@light-yellow:  #dcdcaa;
@dark-yellow:   #d7ba7d;
@puke:          #b5cea8;
@green:         #608b4e;
@cyan:          #4ec9b0;
@light-blue:    #9cdcfe;
@dark-blue:     #569cd6;
@bright-blue:   #007acc;
@purple:        #646695;
@pink:          #c586c0;

// Base colors -----------------------------------
@syntax-fg:     @light-gray;
@syntax-bg:     @dark-gray;
@syntax-gutter: darken(@syntax-fg, 26%);
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: @bright-blue;
